# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib_bbbb
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

_temp

firmware/test-coupling/build/lst
firmware/test-coupling/build/obj
firmware/test-coupling/.dep

software/serial/.build
software/csr-ftdi/.build
